<html lang="en">
 
    <%- include("../partials/head.ejs") %>

    
        <%- include("../partials/navbar.ejs") %>
     
   
   
    <body class="standard">
          <%- include("../partials/scarf.ejs") %>
        <p>Hello world</p>
        <%- include("../partials/details.ejs") %>
        <%- include("../partials/projects.ejs", {title:'test title'}) %>

    </body>

    <%- include("../partials/footer.ejs") %>

</html>