<html lang="en">
 
    <%- include("../partials/head.ejs") %>
    <body class="standard">
        <%- include("../partials/nav.ejs") %>
        <%- include("../partials/scarf.ejs") %>
        <p>Hello world</p>
        <%- include("../partials/details.ejs") %>
        <%- include("../partials/projects.ejs", {title:'test title'}) %>

    </body>

    <%- include("../partials/footer.ejs") %>

</html>